
@model Hotel

<form action="\home\DeleteHotel" method="post" asp-antiforgery="true">
    <input type="hidden" name="@nameof(Model.HotelId)" value="@Model.HotelId" />
    <label class="row btn   col-lg-3 m-3 " style="background-color:ButtonFace;">
        نام هتل
        <input name="HotelName" type="text" disabled name="@nameof(Model.HotelName)" value="@Model.HotelName" />
    </label>
    <br />
    <label class="row btn   col-lg-3 m-3 " style="background-color:ButtonFace;">
        چند ستاره
        <input name="HotelStar" type="text" disabled name="@nameof(Model.HotelStar)" value="@Model.HotelStar" />
    </label>
    <br />
    <label class="row btn   col-lg-3 m-3 " style="background-color:ButtonFace;">
        تعداد تخت
        <input name="HotelBads" type="text" disabled name="@nameof(Model.HotelBads)" value="@Model.HotelBads" />
    </label>

    <label class="row btn   col-lg-4 m-3 " style="background-color:ButtonFace;">
        ادرس هتل
        <input name="HotelAddress" type="text" disabled name="@nameof(Model.HotelAddress)" value="@Model.HotelAddress" />
    </label>
    <button type="submit" class="btn " style="background-color:green">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        Delete
    </button>

</form>